@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Status Twojego zamówienia</h1>
        Numer Twojego zamówienia to: @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br/>
        Zamówienie zostało złożone<br />
    </div>
</div>
