@model MyPhotoViewModel

<form method="post">
    <div class="border p-3 mt-4 ">
        <div class="row pb-2">
            <h2 class="text-primary">Create MyPhoto</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MyPhoto.Title" class="p-0"></label>
            <input asp-for="MyPhoto.Title" type="text" class="form-control" />
            <span asp-validation-for="MyPhoto.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MyPhoto.Description" class="p-0"></label>
            <input asp-for="MyPhoto.Description" type="text" class="form-control" />
            <span asp-validation-for="MyPhoto.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MyPhoto.Author" class="p-0"></label>
            <input asp-for="MyPhoto.Author" type="text" class="form-control" />
            <span asp-validation-for="MyPhoto.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MyPhoto.CategoryId" class="p-0"></label>
            <select asp-for="@Model.MyPhoto.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="MyPhoto.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MyPhoto.Price" class="p-0"></label>
            <input asp-for="MyPhoto.Price" type="text" class="form-control" />
            <span asp-validation-for="MyPhoto.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MyPhoto.ImageUrl" class="p-0"></label>
            <input asp-for="MyPhoto.ImageUrl" type="text" class="form-control" />
            <span asp-validation-for="MyPhoto.ImageUrl" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="MyPhoto" asp-action="Index" class="btn btn-secondary form-control">
                    Back
                </a>
            </div>
        </div>


    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}